body {
    background:fixed;
    margin: 0;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(bag-2.gif);

}
.about img{
    width: 250px;
    margin-top: 20px;
   
}
.about{
    color: aliceblue;
    text-align: center;
}
.me{
    color: aliceblue;
    background-color: rgba(86, 86, 84, 0.4);
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
}
.me img{
    width: 40px;
    margin-left: 460px;
}
.education{
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(86, 86, 84, 0.4);
    margin: 110px;
    color: #ffffff;
}
.education img{
    width: 50px;
    padding: 5px;
}
nav {
    
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin-right: 20px;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
}
.nav-menu li a:hover{
    background-color:rgb(153, 0, 0);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;

}
.nav-toggle-label {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .nav-toggle-label {
        display: block;
    }

    #nav-toggle:checked + .nav-menu {
        display: flex;
    }
}
.cover{
    color: #fff;
    width: 45%;
    margin-left: 60px;
    margin-top: 80px;
    float: left;
}
.logo img{
    width: 45%;
}
body, html {
    margin: 0;
    padding: 0;
}
footer {
    
    color: #fff;
    padding: 10px 10px;
  }
  
  .container {
    max-width: 1500px;
    padding: 0 10px;
    
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col {
    flex: 1;
    margin-right: 40px;
  }
  
  .col:last-child {
    margin-right: 10px;
  }
  
  h3 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    
  }
  
  @media (max-width: 768px) {
    .col {
      flex: 0 0 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  